h1{
    background: darkslategrey;
    color: white;
    text-align: center;
}

.ui{

    border:2px solid black;


}

.cr{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    
    




}

.yy{

    background: teal;
    color: white;
    font-size: 50px;
    border-radius: 20px;
    
}

.yy:hover{

    background-color: rgb(9, 61, 61);
    font-size: 40px;
}
.op{
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      
}

h2{
    display: none;
    text-align: center;
    background-color: black;
    color: white;
}
.gv{

    background: teal;
    
    color: white;
    font-size: 20px;
    border-radius: 20px;
    
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    
}
.gv:hover{

    background-color: rgb(9, 61, 61);
    

}

#io{

    display:none;
}

#options{

        color: yellowgreen;
        background: rgb(9, 61, 61);
        display: none;
}
